* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 30px 0;
}

body {
  font-size: large;
}

.ass {
  padding: 10px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
}

.ass li {
  margin: 0px 5px;
  list-style: none;
}

.ass li:hover {
  border-bottom: 2px solid;
}

a {
  text-decoration: none;
  color: black;
}

.ass h2 {
  margin-bottom: 10px;
}

.holy-stuff h1 {
  background-color: black;
  color: white;
  height: 50px;
  align-content: center;
}

.holy-stuff p {
  font-size: xx-large;
}

.holy-stuff .para {
  font-weight: lighter;
  font-size: xx-small;
}
